.srv-icon { width: 48px; height: 48px; background: var(--bg-panel); border-radius: 50%; display: flex; align-items: center; justify-content: center; cursor: pointer; transition: 0.2s; color: white; font-weight: bold; flex-shrink: 0; }
.srv-icon:hover, .srv-icon.active { border-radius: 15px; background: var(--accent); }
.input-area { padding: 20px; background: var(--bg-item); }
.input-wrapper { display: flex; gap: 10px; background: var(--bg-panel); padding: 10px; border-radius: 8px; }
input { flex: 1; background: transparent; border: none; color: white; outline: none; padding: 5px; }
button { cursor: pointer; border: none; padding: 10px 20px; border-radius: 5px; font-weight: bold; transition: 0.2s; }
.btn-primary { background: var(--accent); color: white; }
.btn-danger { background: var(--danger); color: white; }
.card { background: var(--bg-panel); padding: 40px; border-radius: 15px; width: 450px; text-align: center; box-shadow: 0 4px 15px rgba(0,0,0,0.3); }
.del-btn {
    margin-left: 10px;
    cursor: pointer;
    font-size: 12px;
    opacity: 0.3;
    transition: 0.2s;
}
.del-btn:hover { opacity: 1; color: #ed4245; }