.app-container { display: flex; width: 100vw; height: 100vh; }
.sidebar-srv { width: 72px; background: var(--bg-dark); display: flex; flex-direction: column; align-items: center; padding-top: 15px; gap: 10px; border-right: 1px solid #222; overflow-y: auto; }
.chat-main { flex: 1; display: flex; flex-direction: column; background: var(--bg-item); }
.centered-layout { flex: 1; display: flex; justify-content: center; align-items: center; background: var(--bg-dark); }
.sidebar-channels { width: 240px; background: var(--bg-panel); display: flex; flex-direction: column; }
