body { justify-content: center; align-items: center; }

.modal {
    background: var(--bg-panel);
    padding: 30px;
    border-radius: 20px;
    width: 440px;
    text-align: center;
}

.form-group {
    text-align: left;
    margin: 20px 0;
}

.form-group label {
    font-size: 12px;
    font-weight: bold;
    color: var(--text-muted);
}

.form-group input {
    width: 100%;
    background: var(--bg-item);
    border: 1px solid #000;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 8px;
}

.create-btn {
    background: var(--accent);
    color: white;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
}

.cancel-link { background: none; color: white; margin-top: 10px; }