body { justify-content: center; align-items: center; }

.settings-container {
    width: 800px;
    height: 500px;
    background: var(--bg-panel);
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.settings-nav {
    width: 200px;
    background: var(--bg-main);
    padding: 20px;
}

.settings-content {
    flex: 1;
    padding: 40px;
}

.av-large {
    width: 100px;
    height: 100px;
    background: #333;
    border-radius: 20px;
    margin-bottom: 20px;
    background-size: cover;
}

.save-btn { background: var(--accent); color: white; padding: 10px 20px; border-radius: 5px; }
.logout-btn { color: var(--danger); background: none; margin-top: 50px; }